<div class="panel panel-mariadb-dark animated fadeIn">
    <div class="panel-heading">
        <div class="panel-title">{{photo.title}}</div>
    </div>
    <div class="panel-body">
        <img ng-click="openImage()" class="img-responsive pointer" style="margin: 0 auto;"
             ng-src="{{buildImageUrl(photo.filename)}}"/>
    </div>
    <div class="panel-body text-center">
        <button class="btn" ng-class="photo.upvote ? 'btn-mariadb-green' : 'btn-default'" ng-click="upvote(photo)">
            <i class="fa fa-3x fa-thumbs-o-up"></i>
        </button>
        <button class="btn" ng-class="photo.downvote ? 'btn-danger' : 'btn-default'" ng-click="downvote(photo)">
            <i class="fa fa-3x fa-thumbs-o-down"></i>
        </button>
        <button class="btn" ng-class="showMessages ? 'btn-info' : 'btn-default'" ng-click="toggleMessages()">
            <i class="fa fa-3x fa-comment-o"></i>
        </button>
    </div>
    <div class="text-center">
        <i class="fa"></i><i ng-show="voteLoading" class="fa fa-loading"></i>
    </div>
    <div class="panel-body text-center">
        <span class="text-muted">{{photo.totalVotes || 0}} votes - {{calcPerc(photo)}}</span><br>
        <span class="text-muted">{{photo.upvote_count || 0}} <i class="fa fa-thumbs-o-up"></i> - {{photo.downvote_count || 0}} <i class="fa fa-thumbs-o-down"></i> - {{photo.comment_count || 0}} <i class="fa fa-comment-o"></i></span>
    </div>
    <div class="panel-body animated fadeIn" ng-show="showMessages">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="comment-box">
                <textarea maxlength="255" ng-model="comment_text" placeholder="Leave a nice comment :) (max 255 chars)"></textarea>
                <button class="btn btn-success" ng-click="comment(photo)">Send</button><i ng-show="commentLoading" class="fa fa-loading"></i>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <table class="table table-striped">
                <tbody>
                <tr ng-repeat="comment in photo.comments | orderBy:'createdAt':true ">
                    <td class="fs18"> {{comment.username}} - {{comment.comment}}
                        <br>
                        <span class="text-muted">{{displayMoment(comment.createdAt)}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div ng-show="photo.comments.length < photo.comment_count" class="text-center"><div class="btn btn-info" ng-click="loadComments()">Load more comments</div></div>
        </div>
    </div>

    <div class="panel-footer">
        Image uploaded <span class="text-muted-mariadb-blue">{{displayMoment(photo.createdAt)}}</span> by <span class="text-muted-mariadb-blue">{{photo.username || '-'}}</span><br>
    </div>
</div>